<div id="chat-container" class="fixed-bottom container offset-md-6 col-11 col-md-5">
    <div id="chat-header" class="row">
        <div class="col-12 alert alert-primary">
            Chat
            <a id='closeChat' style='cursor: pointer'><i style='color: white' class='fa fa-close pull-right'></i></a>
        </div>
    </div>
    <div id="chat-body" class="row">
        <div id="messages-container" class="col-12">

        </div>
    </div>
    <div id="chat-footer" class="row">
        <div class="col-10 col-md-11">
            <input id="chat-input" type="text" class="text-input"
                   placeholder="Enter A Message...">
        </div>
        <div class="col-2 col-md-1">
            <i class="fa fa-envelope-o"></i>
        </div>
    </div>
</div>
