<div id="chat-container" class="container offset-md-6 col-11 col-md-5">
    <div id="chat-header" class="row">
        <div class="col-12 alert alert-primary">
            Chat
        </div>
    </div>
    <div id="chat-body" class="row">
        <div id="messages-container" class="col-12">

        </div>
    </div>
    <div id="chat-footer" class="row">
        <div class="col-11">
            <input id="chat-input" type="text" class="text-input"
                   placeholder="Enter A Message...">
        </div>
        <div class="col-1">
            <i class="fa fa-envelope-o"></i>
        </div>
    </div>
</div>
