<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 0px">
                <div class="row card-header">
                    <div class="col-10"><h3 class="card-title"></h3></div>
                    <div class="col-2">

                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-12 col-md-10">
                            <div class="card">
                                <div class="card-header card-header-tabs card-header-primary">
                                    <div class="row">
                                        <div class="col-4">
                                            <span class="nav-tabs-title">Whats New ?</span>
                                        </div>
                                        <div class="col-8">
                                            <span class="nav-tabs-title addNews">
                                            <i class="fa fa-plus" style="color: white"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" id="generalMessagesCard">
                                    <div id="newsContainer" class="row">
                                        <div class="row">
                                            <div class="col-10">
                                                <p class="form-control">
                                                    Sign contract for "What are conferencefffff ffffffffffffff?"
                                                </p>
                                            </div>
                                            <div class="col-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button type="button" rel="tooltip" title=""
                                                                class="btn btn-messageEdit btn-link btn-sm"
                                                                data-original-title="Edit Task">
                                                            <i class="material-icons">edit</i>

                                                        </button>
                                                    </div>
                                                    <div class="col-6">
                                                        <button type="button" rel="tooltip" title=""
                                                                class="btn btn-danger btn-link btn-sm"
                                                                data-original-title="Remove">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <table class="table" style="min-width: 100% !important;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <p class="form-control">
                                                    Sign contract for "What are conferencefffff ffffffffffffff?"
                                                </p>
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-messageEdit btn-link btn-sm"
                                                        data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-danger btn-link btn-sm"
                                                        data-original-title="Remove">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="form-control"> Sign contract for What are conference
                                                    organizers afraid of?
                                                </p>

                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-messageEdit btn-link btn-sm"
                                                        data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-danger btn-link btn-sm"
                                                        data-original-title="Remove">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/public/scripts/views/home/news.js"></script>
</section>