<section class="content">
    <div class="row" id = "adminFloatStats">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <p class="card-category">Rowers Count</p>
                    <h3 class="card-title" id="rowersCountText">
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-anchor"></i>
                    </div>
                    <p class="card-category">Boats Count</p>
                    <h3 class="card-title" id="boatsCountText">
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-ship"></i>
                    </div>
                    <p class="card-category">Rowing activities Count</p>
                    <h3 class="card-title" id="activitiesCountText">
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-12 col-md-10">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="row">
                        <div class="col-4">
                            <span class="nav-tabs-title">What's New ?</span>
                        </div>
                        <div class="col-8">
                                            <span class="nav-tabs-title addNews" id="addItemBtn">
                                            <i class="fa fa-plus" style="color: white"></i>
                                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="generalMessagesCard">
                    <div id="newsContainer">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/public/scripts/views/home/news.js"></script>
    <script type="application/javascript" src="/public/scripts/views/home/floatCards.js"></script>
</section>