
.removeNotificationIcon {
    margin-top: 5px;
    margin-left: 25px;
    font-size: 20px;
    cursor: pointer;
}

#removeAllNtfsLink {
    background-color: #e0e0e0;
    box-shadow: none;
}

#notificationDropDown {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}


.dropdown-item:hover {
    background-color: #56baed !important;
}

.page-item.active .page-link {
    background-color: lightgrey !important;
    border: hidden;
}

.page-item .page-link {
    background-color: lightgrey !important;
    border: hidden;
}

.page-link {
    color: black !important;
}

#DataTables_Table_0_paginate > ul > li:hover {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
    border: hidden;
}

#DataTables_Table_0_paginate > ul > li {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
    border: hidden;
}

.dataTables_paginate {
    margin-top: 10px;
}

th {
    font-size: 14px !important;
}

#chatCount {
    font-size: 12px;
    color: white;
    padding: 4px 6px;
    border-radius: 50%;
    background-color: #000000;
    position: relative;
    right: 18px;
    bottom: 20px;
}

#chatImgContainer {
    overflow: visible;
}

.chatBtn {
    border: none;
    position: fixed;
    outline: none;
    cursor: pointer !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.infoCard > div > div > div > input, textarea, span {
    cursor: default !important;
}


#updateRowerForm > div > div > div input, textarea, span, select {
    cursor: default !important;
}

.infoCard > div > div > .form-group {
    text-align: left !important;
}

.gj-datepicker-bootstrap > span.input-group-append {
    display: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.select2 {
    width: 100% !important;
}

.rowersSelect {
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}

@media only screen and (min-device-width: 576px) {
    .approveRequestRightButton {
        margin-top: 20px;
    }
}

@media only screen and (max-device-width: 576px) {
    #deleteFromRequestBtn img {
        transform: rotate(90deg);
    }

    #addToRequestBtn img {
        transform: rotate(90deg);
    }

    #joinRowerToRequestBtn img {
        transform: rotate(90deg);
    }

    #moveRowerBackBtn img {
        transform: rotate(90deg);
    }
}

.btn-blue {
    background-color: #56baed !important;
}

.btn-messageEdit {
    background-color: #ffffff !important;
    color: #56baed !important;
}

.addNews{
    float: right !important;
    cursor: pointer !important;
}


