.alert.alert-primary {
    background-color: #56baed !important;
}

#chat-container {
    height: 40vh;
    border: 2px solid;
    border-radius: 7px;
    background-color: white;
}

#chat-body {
    height: 63%;
}

#chat-footer {
    padding-top: 10px;
    height: 33%;
    border-top: 1px;
    border-top-color: #e2e2e2;
    border-top-style: solid;
}

#chat-input {
    width: 100%;
}

#messages-container {
    overflow-y: scroll;
}